*.class

# macOS
.DS_Store

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
dragonshard-core/target/
dragonshard-data-mybatis/target/
dragonshard-data-redis-starter/target/
dragonshard-dynamic-datasource-starter/target/
dragonshard-web-core-starter/target/
dragonshard-upload-local-starter/target/
dragonshard-data-secret-starter/target/
dragonshard-id-generator-starter/target/
dragonshard-limit-starter/target/
